header {
  background-color: rgb(230, 182, 51);
  text-align: center;
  font-size: larger;
  font-family: 'Varela Round', sans-serif;
  color: rgb(104, 71, 34);
  padding: 50px;
  border: 15px solid white;
  border-radius: 40px;
  text-shadow: 4px 4px #b9905b;
}

body {
  background-color: rgb(248, 231, 200);
  margin: 0px 0px;
  background-image: url("giraf.jpg");
}

img {
  width: 25%;
  margin: 0px 50px 0px 130px;
  float: left;
}

main {
  width: 70%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

h2 {
  display:inline;
  font-family: 'Varela Round', sans-serif;
}

p {
  text-align: justify;
  width: 80%;
  font-family: 'Varela Round', sans-serif;
}

div {
  padding: 50px 30px;
  height: 300px;
  align-content: center;
}

a {
  color: black;
  text-decoration: underline;
}

a:link {
  color: black;
}

a:visited {
  color: rgb(230, 182, 51);
}

a:hover {
  color: rgb(236, 157, 11);
  font-weight: bold;
}

.footer {
background-color: rgb(230, 190, 80);
height: 100px;
text-align: right;
font-family: 'Varela Round', sans-serif;
color: rgb(104, 71, 34);
}

footer img {
  width: 50px;
  float: right;
  margin: 0px 20px;
}

footer img:hover {
  opacity: 0.5;
}